{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3 mt-3">
            <h3>{{ student.first_name }} {{ student.last_name }}</h3>
        </div>
        <div class="col-sm-9 mt-3" style="text-align: right;">
            <a href="{% url 'student_update' student.id %}" class="nav-link px-2 text-dark">Update profile</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="text">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
            <div class="col-mb-9 mt-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Information</h4>
                        <i class="fa fa-link fa-1x"></i></div>
                    <div class="panel-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><b>Name:</b> {{ student.first_name }}</li>
                            <li><b>Surname:</b> {{ student.last_name }}</li>
                            <li><b>email:</b> {{ student.mail }}</li>
                            <li><b>Department:</b> {{ student.department }}</li>
                            <li><b>Occupation:</b> {{ student.occupation }}</li>
                            {% if group == 'student' %}
                                <li><b>Status: &nbsp</b>Student</li>
                            {% else %}
                                <li><b>Status: &nbsp</b>Supervisor</li>
                            {% endif %}
                            <li><b>Registration date:</b> {{ student.date_created|date:"M d, Y" }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col-sm-4">
                    <div class="card mb-3 rounded-3 shadow-sm border-warning">
                        <div class="card-header py-3 text-center bg-warning border-warning">
                            <h4 class="my-0 fw-normal">Tests passed</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title score-card-title text-center">{{ count }}</h1>
                        </div>
                    </div>
            </div>
                <div class="col-sm-4">
                    <div class="card mb-3 rounded-3 shadow-sm border-warning">
                        <div class="card-header py-3 text-center bg-warning border-warning">
                            <h4 class="my-0 fw-normal">Best score</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title score-card-title text-center">{{ max_score }}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>Last quizzes:</h4>
                <table class="table table-sm-9">
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Topic</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Score</th>
                    </tr>
                    {% for result in results %}
                    <tr>
                        <td></td>
                        <td>{{ result.quiz }}</td>
                        <td>{{ result.quiz.topic }}</td>
                        <td>{{ result.date_created | date:"M d, Y" }}</td>
                        <td>{{ result.passed }}</td>
                        <td>{{ result.score }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock  %}