{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-mb-13 mt-3">
            <h3>{{ supervisor.first_name }} {{ supervisor.last_name }}</h3>
        </div>
        {% for message in messages %}
            <p id="messages">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="text">
                {% if supervisor.pic %}
                    <img src="{{ supervisor.pic.url }}" class="avatar img-circle" alt="avatar" style=
                        "width: 150px;
                         height: 150px;
                         border-radius: 50%;
                         object-fit: cover;
                         object-position: center right">
                {% else %}
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle" alt="avatar" style=
                        "width: 150px;
                         height: 150px;
                         border-radius: 50%;
                         object-fit: cover;
                         object-position: center right">
                {% endif %}

            </div>
        </div>
        <div class="col-sm-9">
            <form class="" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <div class="row">
                    <div class="col-md-4">
                        <button class="w-90 mb-2 btn btn-lg rounded-4 btn-warning border-dark" type="submit" style="font-size:12pt">Save</button>
                        <button class="w-90 mb-2 btn btn-lg rounded-4 btn-light border-dark" onclick="window.location.href={% url 'supervisor' %}" type="button" style="font-size:12pt">Back to dashboard</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}