{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-mb-12 mt-3">
            <h3>{{ username.first_name }} {{ username.last_name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-mb-3">
            <div class="text-center"></div>
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Select file:</h6>
                <input type="file" class="text-center center-block file-upload">
        </div>
        <div class="col-mb-9 mt-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Information</h4>
                    <i class="fa fa-link fa-1x"></i></div>
                <div class="panel-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Name: {{ student.first_name }}</li>
                        <li>Surname: {{ student.last_name }}</li>
                        <li>email: {{ student.mail }}</li>
                        <li>Registration date: {{ student.date_created }}</li>
                    </ul>
                </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}