{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="entry-crumbs">
    <span>
        <a title="" class="entry-crumb" href="{% url 'home' %}">
            Home</a>
    </span>

        <i class="td-icon-right td-bread-sep td-bred-no-url-last">
            >
        </i>
        <span class="td-bred-no-url-last">Quizzes</span>
    </div>
</div>
<hr>

<div class="container py-3">
    <div class="col">
        <h4>List of quizzes for {{ user.first_name }} {{ user.last_name }}:</h4>
        <table class="table table-sm-9">
            <tr>
                <th></th>
                <th style="text-align:center">Title</th>
                <th style="text-align:center">Topic</th>
                <th style="text-align:center">Number of questions</th>
                <th style="text-align:center">Duration of the quiz</th>
                <th style="text-align:center">Score</th>
                <th style="text-align:center">Difficulty</th>
                <th style="text-align:center">Status</th>
                <th style="text-align:center"></th>
            </tr>
            {% for key, value in quizzes.items %}
            <tr>
                <td></td>
                <td style="text-align:center">{{ value.name }}</td>
                <td style="text-align:center">{{ value.topic }}</td>
                <td style="text-align:center">{{ value.number_of_questions }}</td>
                <td style="text-align:center">{{ value.time }}</td>
                <td style="text-align:center">{{ value.score }}</td>
                <td style="text-align:center">{{ value.difficulty }}</td>
                {% if value.status == 'Passed' %}
                    <td style="text-align:center; color: green">Passed</td>
                {% else %}
                    <td style="text-align:center; color: red">Failed</td>
                {% endif %}
                <td style="text-align:center">
                    <a class="btn btn-sm btn-info" href="{% url 'quiz-data' key %}">Go to quiz</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
