{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="entry-crumbs">
    <span>
        <a title="" class="entry-crumb" href="{% url 'home' %}">
            Home</a>
    </span>

        <i class="td-icon-right td-bread-sep td-bred-no-url-last">
            >
        </i>
        <span class="td-bred-no-url-last">Quizzes</span>
    </div>
</div>
<hr>

<div class="container py-3">
    <div class="col">
        <h4>List of quizzes for {{ user.first_name }} {{ user.last_name }}:</h4>
        <table class="table table-sm-9">
            <tr>
                <th></th>
                <th style="text-align:center">Title</th>
                <th style="text-align:center">Topic</th>
                <th style="text-align:center">Number of questions</th>
                <th style="text-align:center">Duration of the quiz</th>
                <th style="text-align:center">Score</th>
                <th style="text-align:center">Difficulty</th>
                <th style="text-align:center">View</th>
            </tr>
            {% for quiz in quizzes %}
            <tr>
                <td></td>
                <td style="text-align:center">{{ quiz.name }}</td>
                <td style="text-align:center">{{ quiz.topic }}</td>
                <td style="text-align:center">{{ quiz.number_of_questions }}</td>
                <td style="text-align:center">{{ quiz.time }}</td>
                <td style="text-align:center">{{ quiz.score }}</td>
                <td style="text-align:center">{{ quiz.difficulty }}</td>
                <td style="text-align:center">
                    <a class="btn btn-sm btn-info" href="{{ quiz.get_absolute_url }}">Go to quiz</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}